@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
  height: 100%; 
  background-color: #f9fafb;
}

body { 
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: #111827;
}

